form{
    display: flex;
    flex-direction: column;
}
.container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.block{
    display: flex;
    flex-direction: column;
}
.block label{
    text-transform: uppercase;
    text-align: center;
}
input{
    width: 135px;
    display: flex;
    align-items: center;
    border-radius: 5rem;
    padding: 0.6em;
}